.wd-margin-bottom-null{
    margin-bottom: 0%;
}

.wd-margin-right-null{
    margin-right: 0;
}

.wd-padding-null{
    padding: 0;
}

.wd-padding-left{
    padding-left: 3px;
}


.wd-input-icons i {
    position: absolute;
}
  
.wd-input-icons {
    width: 100%;
    margin-bottom: 10px;
}
  
.wd-icon {
    padding: 10px;
    min-width: 40px;
}
  
.wd-input-field {
    width: 100%;
    padding: 10px;
    text-indent: 30px;
}

.wd-search-icon {
    margin: 15px;
    font-size: 20px;
}

.wd-setting-icon{
    margin: 12px;
    font-size: x-large;
}

.wd-search-bar-width {
    width:90%;
}

.wd-more-size{
    font-size: large;
}

.wd-image-icon{
    height: 70px;
    width: 70px;
}

.wd-image-icon2{
    height: 32px;
    width: 32px;
    border-radius: 20px;
}

.wd-container {
    position: relative;
    text-align: center; 
  }
  
.wd-bottom-left {
    position: absolute;
    bottom: 138px;
    left: 213px;
    color: white;
    font-size: 30px;
    font-style: bold;
    margin: 0px;
  }
  
.wd-font-size-side{
    font-size: 14px;;
}

.wd-margin-more-negative{
    margin-left: -14px;
}

.wd-padding-left-side{
    padding-left: 10px;
}