.wd-body{
    background-color: black;
}

.wd-body-div{
    margin-left: 16px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(47, 51, 54);
}

.wd-body-padding{
    padding-left:16px;
    padding-right:16px;
}

.wd-body-nav-padding{
    padding-left:16px;
}

.wd-body-padding-search{
    padding-left:16px;
    padding-right:12px;
    float:right;
}

.wd-search{
    display: grid;
    grid-template-columns: 1fr 0.07fr;
    grid-template-rows: 1fr;
}

.wd-search-bar{
    background-color: #A9A9A9;
    color: white;
    height: 25px;
    width: 99%;
}

.wd-setting{
    margin-left: 12px;
    margin-top: 5px;
}

.wd-links{
    padding-top: 12px;
    padding-bottom: 20px;
    border-bottom-style: solid;
    border-bottom-width: thick;
    border-color: rgb(47, 51, 54);
}

.wd-link{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    font-size: 15px;
    color: rgb(110, 118, 125);
    text-decoration: none;
}

.wd-rounding{
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.wd-first-link{
    border-bottom-style: solid;
    border-color: rgb(29,161,242);
    color: rgb(29,161,242);
}

.wd-p-C{
    font-size:13px;
    color: rgb(110, 118, 125);
    margin: 0px;
}

.wd-post{
    border-top-style: solid;
    border-width: thin;
    border-bottom-style: solid;
    border-color: rgb(47, 51, 54);
    padding-bottom: 10px;
    padding-top: 10px;
}

.wd-display-inline{
    overflow: hidden;
}

.wd-left-element{
    width: 75%;
    float:left;
}

.wd-right-element{
    width: 25%;
    float:right;
}

.wd-p-white{
    color: white;
    margin: 0px;
}

.wd-p-smallSize{
    font-size: 10px;
}

.wd-float-right{
    float:right;
}

.wd-img-D{
    width: 100px;
    height: 100px;
    border-radius:10px;
}

.wd-title-img{
    height:18px;
}

.wd-inline-flex{
    display:flex;
}

.wd-padding-left{
    padding-left:2px;
}
.wd-padding-right{
    padding-right:2px;
}